bkp_dsl/
.idea/vcs.xml
.idea/modules.xml
.idea/misc.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/hri_designtime.iml
src/mgr/__pycache__/upp_mgr.cpython-36.pyc
src/mgr/__pycache__/tplt_mgr.cpython-36.pyc
src/mgr/__pycache__/query_mgr.cpython-36.pyc
src/mgr/__pycache__/param_mgr.cpython-36.pyc
src/mgr/__pycache__/json_mgr.cpython-36.pyc
src/mgr/__pycache__/__init__.cpython-36.pyc
src/logging/__pycache__/logger.cpython-36.pyc
src/logging/__pycache__/__init__.cpython-36.pyc
src/domain/__pycache__/robot.cpython-36.pyc
src/domain/__pycache__/query.cpython-36.pyc
src/domain/__pycache__/layout.cpython-36.pyc
src/domain/__pycache__/human.cpython-36.pyc
src/domain/__pycache__/hri_const.cpython-36.pyc
src/domain/__pycache__/__init__.cpython-36.pyc
src/__pycache__/__init__.cpython-36.pyc

src/__pycache__/__init__.cpython-37.pyc
src/__pycache__/__init__.cpython-38.pyc
src/__pycache__/main.cpython-37.pyc
src/domain/__pycache__/__init__.cpython-37.pyc
src/domain/__pycache__/__init__.cpython-38.pyc
src/domain/__pycache__/hri_const.cpython-37.pyc
src/domain/__pycache__/hri_const.cpython-38.pyc
src/domain/__pycache__/human.cpython-37.pyc
src/domain/__pycache__/human.cpython-38.pyc
src/domain/__pycache__/layout.cpython-37.pyc
src/domain/__pycache__/layout.cpython-38.pyc
src/domain/__pycache__/query.cpython-37.pyc
src/domain/__pycache__/query.cpython-38.pyc
src/domain/__pycache__/robot.cpython-37.pyc
src/domain/__pycache__/robot.cpython-38.pyc
src/logging/__pycache__/__init__.cpython-37.pyc
src/logging/__pycache__/__init__.cpython-38.pyc
src/logging/__pycache__/logger.cpython-37.pyc
src/logging/__pycache__/logger.cpython-38.pyc
src/mgr/__pycache__/__init__.cpython-37.pyc
src/mgr/__pycache__/__init__.cpython-38.pyc
src/mgr/__pycache__/json_mgr.cpython-37.pyc
src/mgr/__pycache__/json_mgr.cpython-38.pyc
src/mgr/__pycache__/param_mgr.cpython-37.pyc
src/mgr/__pycache__/param_mgr.cpython-38.pyc
src/mgr/__pycache__/query_mgr.cpython-37.pyc
src/mgr/__pycache__/query_mgr.cpython-38.pyc
src/mgr/__pycache__/tplt_mgr.cpython-37.pyc
src/mgr/__pycache__/tplt_mgr.cpython-38.pyc
src/mgr/__pycache__/upp_mgr.cpython-37.pyc
src/mgr/__pycache__/upp_mgr.cpython-38.pyc
Project_Default.xml
resources/upp_results/test3_2021_12_02_10:21:06.txt
resources/upp_results/test3_2021_12_02_10:27:30.txt
resources/upp_results/test3_2021_12_02_10:29:16.txt
resources/upp_results/test3_2021_12_02_10:30:47.txt
resources/upp_results/test3_2021_12_02_10:31:04.txt
resources/upp_results/test3_2021_12_02_10:31:25.txt
resources/upp_results/test3_2021_12_02_11:58:07.txt
resources/upp_results/test3_2021_12_02_12:02:18.txt
resources/upp_results/test3_2021_12_02_12:07:51.txt
resources/upp_results/test3_2021_12_02_13:29:08.txt
resources/upp_results/test3_2021_12_06_17:01:53.txt
resources/upp_results/test3_2021_12_06_17:03:29.txt
resources/upp_results/test3_2021_12_06_17:10:08.txt
resources/upp_results/test3_2021_12_06_17:10:57.txt
resources/upp_results/test3_2021_12_06_17:11:40.txt
resources/upp_results/test3_2021_12_06_17:12:23.txt
resources/upp_results/test4_2021_12_02_10:31:43.txt
resources/upp_results/test4_2021_12_02_11:18:36.txt
resources/upp_results/test4_2021_12_02_11:19:45.txt
resources/upp_results/test4_2021_12_02_11:21:06.txt
resources/upp_results/test4_2021_12_02_11:30:32.txt
resources/upp_results/test4_2021_12_02_11:32:54.txt
resources/upp_results/test4_2021_12_02_11:43:55.txt
resources/upp_results/test4_2021_12_06_16:37:12.txt
resources/upp_results/test4_2021_12_06_16:39:28.txt
resources/upp_results/test4_2021_12_06_16:42:11.txt
resources/upp_results/test5_2021_12_06_17:47:26.txt
resources/upp_results/test5_2021_12_06_17:49:02.txt
resources/upp_results/test5_2021_12_06_17:51:40.txt

/resources/additional_pkgs/cognitive_v1/
